<% if @beer.errors.any? %>
  <ul>
    <% @beer.errors.full_messages.each do |error_message| %>
      <li>
        <%= error_message %>
      </li>
    <% end %>
  </ul>
  <hr />
<% end %>

<%= form_for @beer do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </br>
  <%= f.label :style %>
  <%= f.text_field :style %>
  </br>
  <%= f.label :country %>
  <%= f.text_field :country %>
  </br>
  <%= f.label :brewery %>
  <%= f.text_field :brewery %>
  <hr />
  <%= f.label :international_bitterness_unit %>
  <%= f.number_field :international_bitterness_unit %>
  </br>
  <%= f.label :alcohol_by_volume %>
  <%= f.number_field :alcohol_by_volume %>
  </br>
  <%= f.label :original_gravity %>
  <%= f.number_field :original_gravity %>
  </br>
  <%= f.label :final_gravity %>
  <%= f.number_field :final_gravity %>
  <hr />
  <%= f.label :malts %>
  <%= f.text_field :malts %>
  </br>
  <%= f.label :yeasts %>
  <%= f.text_field :yeasts %>
  </br>
  <%= f.label :hops %>
  <%= f.text_field :hops %>
  </br>
  <%= f.label :special_ingredients %>
  <%= f.text_field :special_ingredients %>
  <hr />
  <%= f.submit %>
<% end %>
